<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdiopro.mapper.TeacherMapper">

    <select id="getAllTeacher" resultType="Teacher">
        select *
        from teacher;
    </select>
    <select id="getTeacherById" resultType="com.cdiopro.pojo.Teacher">

    </select>
</mapper>

